<!doctype html>
<html lang="">
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30110292-7', 'auto');
      ga('send', 'pageview');
    </script>
    <!--
    =============================================

       /$$$$$$$$ /$$$$$$$  /$$$$$$$$ /$$$$$$$$
      | $$_____/| $$__  $$| $$_____/| $$_____/
      | $$      | $$  \ $$| $$      | $$
      | $$$$$   | $$$$$$$/| $$$$$   | $$$$$
      | $$__/   | $$__  $$| $$__/   | $$__/
      | $$      | $$  \ $$| $$      | $$
      | $$      | $$  | $$| $$$$$$$$| $$$$$$$$
      |__/      |__/  |__/|________/|________/

    =============================================
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Four Song EP on Triple B Records. Coming May 15th, 2017.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>FREE | Ex Tenebris</title>

    <meta name="msapplication-tap-highlight" content="no">

    <meta property="og:title" content="FREE | Ex Tenebris">
    <meta property="og:site_name" content="FREE | Ex Tenebris">
    <meta property="og:url" content="https://extenebr.is/">
    <meta property="og:description" content="Four Song EP on Triple B Records. Coming May 15th, 2017.">
    <meta property="og:image" content="/images/share-image.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="site-body">
    <header class="site-header z-1 relative js-site-header">

      <a target="_blank" href="http://www.triple-brecords.com/"><img src="/images/triple-b-logo.jpg" alt="Triple B Records" class="center-h triple-b-logo animate-this js-on-init"/></a>

      <div class="site-header__content animate-this js-on-init">
        <div class="center-h center-v fluid-width">
          <div class="free center-h"><%- include('includes/free'); %></div>
          <div class="ex-tenebris"><%- include('includes/ex-tenebris'); %></div>
          <div class="center-h player">
            <iframe class="js-player animate-this" style="border: 0; width: 100%; height: 208px;" src="https://bandcamp.com/EmbeddedPlayer/album=182680540/size=large/bgcol=333333/linkcol=ffffff/artwork=small/track=2343721795/transparent=true/campaign=full-site-ep-release" seamless></iframe>
          </div>
        </div>
      </div>

      <div class="order-link">

        <a class="button center-h animate-this js-on-init" target="_blank" href="http://www.triple-brecords.com/">
          <div class="flex-wrapper">
            <span class="text">PREORDER</span>
          </div>
        </a>

        <a class="button center-h js-lyrics-link animate-this js-on-init" target="_blank" href="">
          <div class="flex-wrapper">
            <span class="text">LYRICS</span>
          </div>
        </a>

      </div>
    </header>

    <main class="site-content z-2 relative fluid-width center-h">
      <section class="song js-first-track">
        <h2 class="title">
          <%- include('includes/title-sisyphus'); %>
        </h2>
        <p>I put out the flames,<br />
        and you set it ablaze,<br />
        climbed your hill,<br />
        carried your weight<br />
        of doubt to bring life<br />
        to a world of:<br />
        sick, sad, sadistic hurt,<br />
        vicious cycles spinning<br />
        again and again,<br />
        wild fires burning<br />
        with out end<br />
        brothers AND sisters<br />
        re-burnt at the stake,<br />
        and the re-building<br />
        of walls I live to break</p>

        <p>You can build your wall,<br />
        as our love stands for all<br />
        You can build your wall,<br />
        as our love fights<br />
        to see it all fall</p>

        <p>I’m too smart to give in<br />
        to your hate,<br />
        I’m too strong,<br />
        not alone,<br />
        and unafraid<br />
        to see your walls:<br />
        of us and them,<br />
        and not knock them down<br />
        again<br />
        and again with soulforce —<br />
        I say again and again:<br />
        true love<br />
        trumps hate<br />
        again and again</p>
      </section>

      <section class="song">
        <h2 class="title">
          <%- include('includes/title-out-of-darkness'); %>
        </h2>
        <p>I’m so tired of waiting<br />
        and weighing me down<br />
        into the swamps of sorrow,<br />
        dank and lone<br />
        with no one to blame<br />
        but my own<br />
        hands tied,<br />
        mouth sewn,<br />
        eyes shut,<br />
        hope broke apart,<br />
        like that fearless thing I used<br />
        to call my heart</p>

        <p>come out of darkness: light</p>

        <p>no more sitting silent<br />
        in the dim dark<br />
        shadows of self-doubt<br />
        no more bowing out<br />
        and down to fear<br />
        no more darkness</p>

        <p>out of darkness:</p>

        <p>more<br />
        light of love<br />
        light of day<br />
        light of hope<br />
        light of rage<br />
        to stand,<br />
        not kneel,<br />
        to the great weight of the dark<br />
        and tear it out</p>
      </section>

      <section class="song">
        <h2 class="title">
          <%- include('includes/title-equity-head'); %>
        </h2>
        <p>Walk me through the<br />
        inequities I don’t feel,<br />
        but hear on my streets,<br />
        see on my screens,<br />
        and ignore in history<br />
        “Just have your sisters fail,<br />
        brothers chained, and<br />
        kept down by centuries of<br />
        unjust,<br />
        unfair,<br />
        bullshit equality,<br />
        dreaming equity,<br />
        screaming equity,<br />
        needing equity now.”</p>

        <p>I’ve got to see<br />
        context of the<br />
        unequal to me,<br />
        forgot and unfree<br />
        Join in the seas<br />
        marching the streets<br />
        dismantling the history of<br />
        unjust,<br />
        unfair,<br />
        bullshit equality<br />
        dreaming equity<br />
        screaming equity<br />
        needing equity now</p>
      </section>

      <section class="song">
        <h2 class="title">
          <%- include('includes/title-may-i-be-i'); %>
        </h2>
        <p>I need to heal myself<br />
        But the world wants<br />
        something fucking else<br />
        Something mindless,<br />
        something I am not<br />
        I’m not the violent son<br />
        cruel unloving one<br />
        abusive cold and numb<br />
        I am the kind son<br />
        gentle loving one<br />
        feeling my peace<br />
        come undone</p>

        <p>by the violent hate<br />
        abusive state<br />
        on repeat<br />
        endlessly<br />
        in your<br />
        society<br />
        DEVOID of vulnerability,<br />
        destroyed by your masculinity<br />
        so will you lend me a hand<br />
        to break and change<br />
        what it means to be a man to<br />
        love,<br />
        cry,<br />
        forgive,<br />
        try to heal inside</p>

        <p>may I be I?</p>
      </section>
      <section class="credits center-h">
        <p>RECORDED, Mixed, and mastered by will killingsworth at <a target="_blank" href="http://deadairstudios.com/">deadair studios</a>.</p>
        <p>thanks to Will, Sam BBB, Trevor Vaughan, Abuse of Power, Faze, Glory, and anyone who has helped us out in some way.</p>
        <p>FREE is Austin Stemper, Kei Yasui, patrick flynn, ryan hudon, and shawn costa.</p>
        <p>Photography by <a target="_blank" href="http://www.reidhaithcock.com/">reid haithcock</a>.</p>
        <p>&copy; 2017</p>
      </section>
    </main>


    <!-- build:js scripts/main.min.js -->
    <script src="vendor/foreach/src/foreach.js"></script>
    <script src="vendor/classlist/classList.js"></script>
    <script src="vendor/velocity/velocity.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
